.col-xs-12.feedback
	h3 Feedback

	.row
		.col-sm-3.table-head Date
		.col-sm-2.table-head Email
		.col-sm-7.table-head Comments

	.row.comments(ng-repeat="comment in vm.comments")
		.col-sm-3 {{comment.date}}
		.col-sm-2 {{comment.email}}
		.col-sm-7 {{comment.comment}}

	map(center="40,-10" zoom="2")
		marker(ng-repeat="location in vm.analytics", position="{{location.lat}},{{location.lng}}")
