.container.feedback
	h3 Feedback

	.row
		.col-sm-2.table-head
			h4 Date
		.col-sm-2.table-head
			h4 Email
		.col-sm-8.table-head
			h4 Comments

	.row.comments(ng-repeat="comment in vm.comments")
		.col-sm-2
			p {{comment.date}}
		.col-sm-2
			p {{comment.email}}
		.col-sm-8
			p {{comment.comment}}
