.col-sm-12
    .row
        .col-sm-6
            p Ever left your Garmin running at the end of a ride? All your hard earned averages declined pointlessly? 
            p This simple editor enables you to delete points from a file, recalculates aggregate ride data, and returns a new copy of the file.
            p To start, upload a '.tcx' file. You can convert a .fit file to .tcx using <a href="http://connect.garmin.com/"> Garmin Connect's</a> export functionality.
            p <strong>Note:</strong> This app is tested with Edge 800 (firmware 2.6) data. YMMV, but other users (including with Garmin 610) report success. 
            p No copy of the data processed is kept.

            form
                div(
                    class="btn btn-primary btn-upload" 
                    ngf-select="vm.upload($file)"
                    ng-model="vm.file" 
                    name="file" 
                    ) {{vm.msg}}
                //- button(class="btn btn-success", type="submit", ng-click="vm.submit()") Submit
                
        .col-sm-6
            img(src="images/edge.jpg" alt="edge 800")

    .row
        .col-xs-12
            h3 Change log
            p 14 Spt 15 - 2.0.0: rewrite in ES6
            p 24 Jan 15 - 1.3.0: &lt;shift&gt;+click functionality improved; fixed bug when deleting entire lap
            p 31 Jan 15 - 1.2.1: fixed bug when deleting last lap
            p &nbsp;2 Feb 15 - 1.2.0: Use colours to distinguish laps, highlight rows where speed = 0
            p 29 Jun 14 - 1.1.0: Handles delete from start correctly; fixed potential crashes

    .row
        .col-xs-12
            h3 Todo
            ul
                li Error messages for badly formatted files
                li Provide option to change ride time (and avg speed) to time spent moving (i.e. dropping lunch stops where GPS left on)
                li Show total distance for info
