div
	h3 Developer feedback
	p Did the app work? If so, let me now your experience. If not, please provide details of what you did and what you hoped / expected it would do.

	form.row(ng-hide="comments")
		.col-sm-7
			.form-group
				textarea(rows="2", class="form-control" ng-model="vm.feedback" placeholder="Comments, suggestions,...")
		.col-sm-3
			.form-group
				input(type="text" class="form-control" ng-model="vm.email" placeholder="email (Optional*)")
			p * For developer contact. Not made public.
		.col-sm-2
			button(ng-click="vm.sendFeedback()" class="btn btn-primary") Send

	.row(ng-show="comments")
		.col-sm-3
			h4 Date
		.col-sm-9
			h4 Comment
	
	.row.comments(ng-repeat="comment in vm.comments")
		.col-sm-3
			p {{comment.date}}
		.col-sm-9
			p {{comment.comment}}
