.summary {
	background-color: #eee;
	padding-bottom: 10px;
}
.table-head {
	font-weight: bold;
}
.data-table {
	height: 350px;
	overflow-y: scroll;

	lap {
		width: 100%;
		td, th {
			padding-right: 10px;
		}
		th.check {
			width: 20px;
		}

		// Stops text being selected automatically by browser after shift+click
		user-select: none; /* CSS3 (little to no support) */
	-ms-user-select: none; /* IE 10+ */
   -moz-user-select: none; /* Gecko (Firefox) */
-webkit-user-select: none; /* Webkit (Safari, Chrome) */

		.trackpoint {
			cursor: pointer;
			&.selected, &.selected:hover {
				background-color: rgb(245, 206, 201);
			}
			&:hover {
				background-color: rgb(244, 233, 203);
			}
		}
	}
}

.controls {
	padding-top: 10px;
	button {
		margin-right: 15px;
	}
}

.social {
	margin-top: 10px;
	background-color: rgb(236, 222, 165);
	padding: 10px 0 5px;
}
